h1 {
    color: white;
    background-color: rgb(163, 50, 50);
    text-align: center;
}
h2{
    color: rgb(0, 91, 196);
    text-align: center;
}
table, tr, td {
    border: 2px solid;
    border-collapse: collapse;
    text-align: center;
}
.func{
    text-align:left; 
    background-color:rgb(230, 228, 228);

}
.size {
    font-size: 70%;
    color: gray;
}